@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
  
  --color-primary: #1d4ed8;
  --color-secondary: #0f172a;
  
  --color-background: #ffffff;
  --color-foreground: #09090b;

  --color-card: #ffffff;
  --color-card-foreground: #09090b;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  
  --radius-sm: 0.125rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}
